@media all and (max-width: 1000px) {
  .header-list  {
    float: left;
    font-size: 15px;
    margin-top: -35px;
    margin-left: -5px;
  }
  .header-right a {
    margin-top: -80px;
  }
  .contents-item {
    width: 40%;
    margin-bottom: 50px;
  }

 .copy-container h2 {
   font-size: 45px;
 }
 .copy-container h3 {
   font-size: 30px;
 }

}

/*Smartphone*/
@media all and (max-width: 670px) {
  .header-list {
    display: none;
  }

  .contents-item {
    width: auto;
  }

}
